*{
    font-family: Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #01040a;
}

.submit_container{
    background-color: #01040a;
    width: 80%;
    text-align: center;
    margin-top: 5%;
    padding: 10px;
    margin-left: 10%;
    border-radius: 10px;
}

.title {
    background-image: linear-gradient(to bottom right, #f8fcc9, white);
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px #01040a solid;
    transition: 0.2s ease-in;
    color: black;
    font-weight: bold;
}

.title:hover{
    /*background-color: rgb(66, 65, 65);*/
    border: 2px solid rgb(224, 223, 223);
}


input[type=submit] {
    margin-top: 10px;
    padding: 10px;
    border: 1px black solid;
    border-radius: 4px;
    box-shadow: 2px 2px 2px grey;
    transition: 0.2s;
    font-weight: bold;
}

input[type=submit]:hover {
    transform: translate(-2px,-2px);
    box-shadow: 4px 4px 4px grey;
}

input[type=submit]:active {
    transform: translate(1px, 1px);
    box-shadow: 2px 2px 2px grey;
}

textarea{
    color: black;
    border: black 2px solid;
    padding: 5px;
    transition: ease-in 0.2s;
    background-image: linear-gradient(to bottom right, #f8fcc9, white);
    border-radius: 10px;
    width: 80%;
    height: 60%;
    font-size: 16pt;
}

textarea:hover {
    border: 2px #f8fcc9 solid;
}

::placeholder {
    color: black;
    opacity: 0.5;
}